body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-image: url("wYBMBG.png");
    background-size: cover;
    background-position: center;
    font-family: 'Courier New', Courier, monospace;
    color: #E1630F;
    text-align: center;
}

#catImg{
    width: 250px;
    height: auto;
    margin-bottom: 20px;
    border: 8px solid #F6F5F4;
    padding: 10px;
    background-color: #F6F5F4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#catImg:hover{
    animation: shake 0.5s ease-in-out;
}

@keyframes shake {
    0% {transform: translate(0px,0px) rotate(0deg);}
    20% {transform: translate(-2px,2px) rotate(-2deg);}
    40% {transform: translate(2px,-2px) rotate(2deg);}
    60% {transform: translate(-2px,2px) rotate(-2deg);}
    80% {transform: translate(2px,-2px) rotate(2deg);}
    100% {transform: translate(0px,0px) rotate(0deg);}
}

#container{
    width: 500px;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F6F5F4;
    padding: 20px;
    border-radius: 15px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    border-style: dotted;
    border-color: #E1630F;
    font-size: 16px;
    padding: 16px 28px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

button:hover{
    transform: scale(1.2);
}

#yesBtn{
    background-color: #FAAF72;
    color: #F6F5F4;
}

.finalTxt{
    background-color: #F6F5F4;
    padding: 20px;
    border-radius: 15px;
}

#noBtn{
    background-color: #F6F5F4;
    color: #FAAF72;
}